#cia{
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.director{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    line-height: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
body >img{
    float: left;
    padding-right: 3%;
}